* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

.cabecera {
    background-color: #006633;
    color: aliceblue;
    padding: 10px 0;
    margin-bottom: 0px;
    border-bottom: solid yellow 5px;
}

.contenedor-cabecera {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 80px;
}

.logo img {
    height: 100%;
    display: block;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lista-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.lista-menu li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
}

.lista-menu li a:hover {
    color: yellow;
}

/* banner css */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(59, 59, 122);
    z-index: 2;
}

.contenedor-banner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding: 0 20px;
    text-align: center;
    color: rgb(139, 139, 248);
}
.contenedor-banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.contenedor-banner p {
    font-size: 20px;
    margin-bottom: 30px;
}
.btn-principal {
    background-color: blueviolet;
    color: rgb(214, 213, 213);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-principal:hover {
    background-color: aquamarine;
    color: chocolate;
}